.post-cre-outer{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.card{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.19);
    -webkit-box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.19);
}

.card-body{
    width:100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postTxtContainer, .form-floating{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.postImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btn-lg{
    padding: 9px 25px !important;
    font-size: medium !important;
    margin: -8px 0 0 !important;
    color: white !important;
    
}

#upImg{
    width: 350px;
}

#upImgLbl{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-image, .bi-clipboard-check{
    font-size: 20px !important;
    margin-left: 6px;
}

.bi-trash3{
    font-size: 16px !important;
    margin-left: 6px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#postMsgBox{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postTxtArea{
    border-radius: 50px;
    min-height: 50px;
}

#postTxtArea:focus{
    border-radius: 50px;
    padding: 30px 10px 10px;
    min-height: 70px;
}

.postPropicAndTxtContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postPropicContainer{
    width: 55px;
}

#postCreationPropic{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 10px;
}

hr{
    width: 100%;
    border: 2px solid #0D6EFD;
    margin-top: -5px;
}

.postcreateheading{
    color: #0D6EFD;
    
}