.profile-body{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.card{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.19);
    -webkit-box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.19);
}

.card-body{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-pro-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 128,255,0.2);
    border-radius: 5px;
}

.pro-pic-container{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pro-name-container, .pro-email-container{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilePic{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-right: -5px;
    border: 2px solid #3867d6;
}

#profileName, #profileEmail{
    color: #3867d6;
}

.pro-details-container{
    width:100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.prolbl1{
    width:130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0984e3;
}

.prolbl2{
    width:20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0984e3;
}

.proDetail{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    color: #0984e3;
}

#msgboxContainer, .detail-container, .updateBtn-container,  .cancelUpdateBtn-container, .cancelResetUpdateBtn-container{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetDetailsFormBtn, #resetPWFormBtn{
    margin-right: 5px;
}

#upImg{
    width: 350px;
}

.settingsBtn-container{
    width:100% ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.settingsBtn-container ul{
    width: 180px !important;
    border: none !important;
    background: none !important;
}

.settingsBtn-container ul button{
    width: 100% !important;
    height: 40px !important;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

button.dropdown-toggle{
    width: 155px !important;
}

button.dropdown-toggle::after {
    border: none !important;
}

.bi-pencil, .bi-check2-circle, .bi-x-circle, .bi-gear, .bi-arrow-counterclockwise{
    font-size: 16px !important;
    margin-left: 6px;
}

.propicuplbtn-container{
    display: flex;
    flex-direction: column;
}

#uplProPicBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    margin-left: -70px;
    opacity: 70%;
    z-index: 1;
}

#newDetailsForm, #newPasswordForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#newDetailsForm label{
    color: #0984e3;
    font-size: 20px;
    font-weight: bold;
}

input {
    color: #0984e3;
}

.formSec, .form-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.radiobtns{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type=radio] {
    color: #3A3F44; 
    height:18px; 
    width:18px;
    vertical-align:baseline;
    cursor: pointer;
    accent-color: #3A3F44; 
}

.radio label{
    cursor: pointer;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"],
.form input[type="date"] {
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #ffffff;
  color: #3A3F44; 
  font-size: 20px;
  font-weight: 600;
}

.form input[type="email"]:focus, .form input[type="email"]:hover, .form input[type="password"]:focus, .form input[type="password"]:hover, .form input[type="text"]:focus, .form input[type="text"]:hover, .form input[type="date"]:focus, .form input[type="date"]:hover{
  background-color: #eeeeee;
}
.card-body h3{
    color: #3867d6;
}